.layout {
  display: flex;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.main {
  flex: 1;
  padding: var(--container-margin);
  background-color: var(--color-surface-container);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .wrapper {
    margin-left: 260px;
  }
}